
.cointainerPublishPost{
display: flex;
justify-content: center;
margin:20px;
padding:20px;
border-radius: 25px;
border: 1px solid rgba(229, 229, 238, 0.33);
box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
flex-direction: column;
height:auto;
}
.circleUser{
width: 35px;
height: 35px;
margin: 40px 10px px 60px;  ;  
}
.text{
display: flex;
border: 1px solid #00b4b8;
border-radius: 25px;
width: 90%;
height: auto;
padding: 5px ;
}
.photo-publish{
display: flex;
align-items: center;
padding: 5px;
}
.addPhoto{
width: 30px;
height: 34px;
margin-left: 70px;
margin-top: 15px;
}

.btnPublicar{
display: flex;
width: 91px;
height: 21px;
justify-content: center;
align-items: center;
margin-left:auto;
margin-top: 20px;
border-radius: 25px;
background: #8c4eca;  
   
}

.btnPublicar:hover {
background: #7642ab;
  }
.containerUserText{
display: flex;
justify-content: space-between;
margin-top: 10px;
}

.addPhoto,.textAdd,.btnPublicar{
cursor: pointer;
  }