* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------Page LOGIN-------------------*/
.container {
  display: flex;
}
.sectionRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebffff;
  height: 100vh;
}

.login {
  width: 250px;
  height: 460px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 10px;
}

.loginLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  justify-content: end;
}

.loginLogo__img {
  width: 54.521px;
  height: 50px;
}

.loginLogo__title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm__label {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.loginForm__input {
  height: 36px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 25px;
  border: 1px solid #00b4b8;
  padding: 4px 10px;
}

.loginForm__link {
  cursor: pointer;
}

.loginForm__link--black {
  color: #000;
  text-decoration-line: underline;
}

.loginForm__link--blue {
  color: #1464f6;
}

.loginButtons__o {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

/*buttons css*/
.btn {
  padding: 10px 5px;
  font-size: small;
  text-align: center;
  border: none;
  cursor: pointer;
}
.btn--primary {
  border-radius: 25px;
  background: #8c4eca;
  color: white;
}

.btn--primary:hover {
  background: #7642ab;
}

.btn--google {
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  padding: 12px 20px;
  box-shadow: 1px 1px 1px grey;
  /*icon*/
  background: url("./assets/icons/Google.png") transparent 15px 50% no-repeat;
  background-size: 24px 24px;
}

.btn--google:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.marginBottom_4 {
  margin-bottom: 4px;
}

.marginBottom_8 {
  margin-bottom: 8px;
}

.marginBottom_16 {
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .sectionRight {
    flex: 1;
  }
  .sectionLeft {
    flex: 1;
    background-color: #fff;
    /*login image*/
    background: url("./assets/images/gatito_login.png") transparent 15px 50%
      no-repeat;
    background-size: 492px 800px;
    background-position: center;
  }
}
